body {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

input, textarea {
  float: left;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h3 {
  font-family: 'Squada One', cursive;
}

h1, p, h3 {
  margin: 0;
  color: #e0e0e0;
  font-size: xx-large;
}

.div1 {
  background-color: #222831;
  width: 850.667;
  height: 880px;
}

.div2 {
  background-color: #393e46;
  padding: 100px;
  color: #e0e0e0;
}

.div3 {
  background-color: #00adb5;
  padding: 50px;
}

.div4 {
  background-color: #d9eeec;
  padding: 50px;
}

.div5 {
  background-color: #eeeeee;
  padding: 25px;
}

.skills-tech-td-right {
  width: 50%;
  padding-right: 20px;
  text-align: right
}

.skills-tech-td-left {
  width: 50%;
  padding-right: 20px;
  text-align: left
}

.bottom-container {
  padding: 30px
}
