body {
  font-family: monospace;
  background-color: #f2f6f5;
  background-image: linear-gradient(to right, #f2f6f5, #c8dad3, #93b5b3, #63707e);
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}

h3 {
  color: #66BFBF;
}

a {
   color:inherit;
}
