body {
  margin: 0;
  text-align: center;
}

input, textarea {
  float: left;
}

a {
  color: inherit;
}

h1, p, h3 {
  margin: 0;
  color: #e0e0e0;
}

.div1 {
  background-color: #222831;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 100px;
}

.div2 {
  background-color: #393e46;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 100px;
  color: #e0e0e0;
}

.div3 {
  background-color: #00adb5;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 50px;
}

.div4 {
  background-color: #d9eeec;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 50px;
}

.div5 {
  background-color: #eeeeee;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 25px;
}

.skills-tech-td-right {
  width: 50%;
  padding-right: 20px;
  text-align: right
}

.skills-tech-td-left {
  width: 50%;
  padding-right: 20px;
  text-align: left
}
